@{
    ViewBag.Title = "Home Page";
    var paginas = ViewBag.Paginas;
}

<div class="jumbotron">
    <h1>Páginas</h1>
    @foreach(var p in paginas)
    {
        <li>@p.Nome</li>
        <li>@p.Id</li>
    }

</div>
