@using MVC_GerenciadorDeConteudo.Business;

@{
    ViewBag.Title = "Páginas";
    List<Pagina> paginas = ViewBag.Paginas;
}

<div class="jumbotron">
    <div class="alert-danger">
        @TempData["status"]
    </div>
    <h3>Páginas</h3>
    <div>
        <a href="/paginas/novo" class="btn btn-default">Nova Página</a>
    </div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Data</td>
            <td>Ações</td>
        </tr>
        @foreach (var p in paginas)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Nome</td>
                <td>@p.Data</td>
                <td><a href="/paginas/@p.Id/editar">Alterar</a></td>
            </tr>

        }

    </table>

</div>
